* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body,
html {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 60px;
    border-radius: 8px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;

}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    background: rgb(178, 85, 225);

}

.container form .user-details{
    display: grid;
    padding-top: 10px;
}

.container .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 5vh;
    width: 80vh;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: rgb(178, 85, 225);
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .gender-category{
    font-size: 20px;
    font-weight: 500;
    display: table;
    width: 100%;
    margin : 14px 0 ;
    justify-content: space-between;
}

form .work-details .work-title{
    font-size: 20px;
    font-weight: 500;
    
}
form .work-details .work-category{
    display: table;
    height: 100px;
    width: 100%;
    margin : 14px 0 ;
    justify-content: space-between;
}

form .button{
    height: 45px;
    margin : 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacong: 1px;
    background: rgb(178, 85, 225);
    color: #fff;

}